<h1>Listing octopi</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @octopi.each do |octopus| %>
  <tr>
    <td><%= link_to 'Show', octopus %></td>
    <td><%= link_to 'Edit', edit_octopus_path(octopus) %></td>
    <td><%= link_to 'Destroy', octopus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Octopus', new_octopus_path %>
