<ul id='side-menu' class='well'>
    
    <% side_menu.each do |menu_item| %>
    <li class='side-menu-item <%= menu_item[:id]%> <%= 'active' if menu_item[:active] %>'>
        <a href='<%= menu_item[:link] %>'><%= menu_item[:name] %></a>
        <% if menu_item[:id] == 'matching' %>
        <div id='matchbox-container'>
            <div id='matchbox-nub'></div>
            <div id='matchbox'>
                <input placeholder='Starbucks' class='input'>
                    
                </input>
                <div class='submit'>
                    Search
                </div>
            </div>
        </div>        
        <% end %>
    </li>
    <% end %>
</ul>
