<div id='content-container' class='welcome'>
    <div id='content'>
        <div id='main-image-container'>
            <div id='main-image'>
                <%= image_tag "splitwise-logo-large.png" %>
            </div>
        </div>
        <div id='main-text-container'>
            <div id='main-text'>
                <h2>API Example</h2>
                <p>Analyze your Splitwise.</p>
                <p class='elaboration'>API Example helps you keep track of your expenses and balance by presenting data from your account in a series of concise, readable, and interactive graphics.</p>
                <a class='authorize' href="/user/login">Authorize</a>
            </div>
        </div>
    </div>  
</div>
