<%= javascript_include_tag "oauth_balance" %>
<div id='main-container-outer'>
    <div id='main-container'>
        <div id='side-menu-container'>
            <ul id='side-menu' class='well'>
                <li class='side-menu-item active'>
                    <a href='#'>Total</a>
                </li>
                <li class='side-menu-item'>
                    <a href='#'>More</a>
                </li>
                <li class='side-menu-item'>
                    <a href='#'>Menu</a>
                </li>
                <li class='side-menu-item'>
                    <a href='#'>Choices</a>
                </li>
            </ul>
        </div>
        <div id='content-container'>
            <div id='chart-historical-balance-container'>
                <div id='chart-historical-balance'></div>
            </div>
            <div id='scroll-chart-container' class='well'>
                <div id='scroll-chart'></div>
            </div>
        </div>
    </div>
</div>
