// Place all the styles related to the oauth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$search-stack-width: 12em;
$search-stack-margin-right: 1em;
$main-chart-width: 40em;
$bootstrap-blue: #0088CC;
$bootstrap-blue-hover: #005580;
$splitwise-green: #5BC5A7;
$splitwise-green-hover: #E34234;
$splitwise-gray: #676767;

$standard-border-radius: 0.4em;


body {
    font-family: "Lato", "Lucida Grande", "Verdana", "Helvetica";
}

#top-menu {
    height: 5em;
    padding: 0 0 0 1em;
    list-style: none;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    font-size: 1em;

    img {
        position: absolute;
    }

    #title {
        position: relative;
        top: 15px;
        margin: 0 1.5em 0 2.8em;
        color: #444;
        font-size: 1.7em;
    }

    .top-menu-item {
        display: inline-block;
        position: relative;
        top: 28px;
        margin-left: 0.2em;
        margin-bottom: -1px;
        border-top-left-radius: $standard-border-radius;
        border-top-right-radius: $standard-border-radius;
        
        a {
            padding: 1em 1em;
            color: $bootstrap-blue;
            text-decoration: none;
            display: block;
        }

        .infobox-container {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            z-index: 1;
            padding-top: 0.4em;

            .infobox {
                width: 12em;
                padding: 1em 1em 1em 1em;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: $standard-border-radius;
                white-space: normal;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

            }


        }

        &:hover:not(.active) .infobox-container {
            visibility: visible;
            transition: opacity 0.5s 0.3s;
            opacity: 1;

        }

        &:nth-child(2) {
            margin-left: 2em;

        }

    }

    .top-menu-item:not(.active) {
        &:hover {
            background: #EEEEEE;
            a {
                color: $bootstrap-blue-hover;
            }
        }    
    }

    .top-menu-item.active {
        border-color: #ddd;
        border-style: solid;
        border-width: 1px;
        border-bottom-color: rgba(255, 255, 255, 1);
        a {
            color: #333333;
            cursor: default;
        }
    }

    .top-menu-item.logout {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 45px;              /* I hacked this to the proper height. */
        margin-right: 2em;
    }

    .top-menu-item #matchbox {
        z-index: 2;
        margin-top: 0.4em;
        .input {
            display: inline-block;
            height: 21px;   
            width: 8em;
            margin-right: 0.2em;
            font-size: 0.8em;
            border: 1px solid #ccc;
            padding: 0 0.5em;
        }
        .submit {
            background-color: #08C; 
            display: inline-block;
            cursor: pointer;
            border-radius: 1em;
            color: #FFF;
            padding: 0.3em 0.8em;
            font-size: 0.8em;

            &:hover {
                background-color: #006FAA;
                color: #eee;
            }

            &:active {
                background-color: $bootstrap-blue-hover;
                color: #ccc;
            }
        }
    }

}

.well {
    background-color: #F5F5F5;
    box-shadow: inset 0 0 10px #CCC;
}

/* These styles pertain to the main chart: */
#main-chart-container {
    padding: 0.4em;   
    border: 1px solid #ccc;
    border-top-right-radius: $standard-border-radius;
    border-top-left-radius: $standard-border-radius;
}

#main-chart-container :last-child {
    border-bottom-right-radius: $standard-border-radius;
    border-bottom-left-radius: $standard-border-radius;
}

#main-chart {
    width: $main-chart-width - 0.8em;
    height: 30em;
}

/* These style pertain to the scroll chart: */
#scroll-chart-container {
    border-bottom-right-radius: $standard-border-radius;
    border-bottom-left-radius: $standard-border-radius;
    padding: 1.5em 1.5em 1.5em 1.5em;
}

#scroll-chart {
    width: $main-chart-width - 3em;
    height: 4em;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

/* These styles pertain to the film: */
div#film-backdrop {
    position: absolute;
}

div#film {
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    height: 100%;
    left: 80%;
    width: 20%;
    border-radius: $standard-border-radius;
    cursor: ew-resize;

    .film-handle.left {
        float: left;
    }
    
    .film-handle.right {
        float: right;
    }
   
    .film-handle {
        width: 0.4em;
        height: 100%;
        background: #666;
        border-radius: $standard-border-radius;
        cursor: col-resize;
        
        .film-label-container {
            position: absolute;
            top: 100%;

            .film-label {
                position: relative;
                left: -50%;
                -webkit-visibility: hidden;
                -moz-visibility: hidden;
                font-size: 12px;
            }

        }

    }

}


.floater {
/*            height: 2em;
            display: inline-block;
            font-family: "Lato", "Lucida Grande", "Verdana", "Helvetica";
            border-radius: $standard-border-radius/2;
            border-width: 1px;
            height: 1.5em;
            padding: 0 0.5em;*/
    display: inline-block;
}

/* These styles pertain to the matching chart: */
#main-container {
    margin: 0 auto;
    width: intrinsic;
    width: -moz-fit-content;

    #search-stack-container {
        float: left;
        width: $search-stack-width;

    }

    #matching-content-container {
        position: relative;
        margin-left: $search-stack-width + $search-stack-margin-right;

    }

}

#search-stack {
    position: relative; /* this may solve the issue of a list item's being too wide when given a width of 100% */
    list-style: none;
    border-radius: $standard-border-radius;
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;

    .search-stack-item {
        background-color: transparent;
        border-width: 0;
        border-top: 1px solid #ddd;
        padding: 0;
        z-index: 1;

        &:not(.matchbox) {
            width: 100%;

        }

        &:first-child {
            border-top-right-radius: $standard-border-radius;
            border-top-left-radius: $standard-border-radius;
            border-top: none;
        }

        &:last-child {
            border-bottom-right-radius: $standard-border-radius;
            border-bottom-left-radius: $standard-border-radius;
            border-bottom: none;
        }

        &.matchbox {
            background-color: rgba(0, 136, 204, 1);
            padding: 0.5em 1em;
            z-index: 100;

            .input {
                width: 9em;

            }

            .submit {
                float: right;
                padding: 0.05em 0.5em;
                border-radius: 1em;
                background-color: #fff;
                color: #000; 
            
            }
        }

        .search-stack-item-content {
            padding: 0.5em 1em;

            .search-name {
                text-overflow: '...';
            
            }

        }

    }

}

#loading-film {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: $standard-border-radius;
    background-color: rgba(0, 0, 0, 0.2);


    &.show {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s;

    }

    #loading-film-message {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 6em;     /* I will change this later to fit the content. */
        height: 1em;
        margin: auto;   

        img {
            position: absolute;
            top: 0;
            left: 0;

        }     

    }

}

.welcome#content-container {

    #content {
        position: relative;
        width: -moz-fit-content;
        width: intrinsic;
        left: 0;
        right: 0;
        margin: 0 auto;
        white-space: nowrap;
        
        #main-text-container {
            display: inline-block;
            vertical-align: top;
            margin-top: 14em;
            white-space: normal;
            
            #main-text {
                width: 20em;
                text-align: left;
                padding: 0 0 0 2em;

                p.elaboration {
                    font-size: 0.7em;
                    color: #676767;

                }

                a.authorize {
                    $margin-top: 1em;
                    $press-displacement: 0.25em;
                    $side-height: 0.4em;
                    $under-shadow-color: rgba(0, 0, 0, 0.5);

                    display: inline-block;
                    margin-top: $margin-top;
                    padding: 0.5em 1em;
                    border-radius: 1em;
                    background-color: #5BC5A7;
                    color: #FFF;
                    text-decoration: none;
                    text-align: center;
                    box-shadow: 0 $side-height 0 0 #676767, 
                                0 $side-height 6px 2px $under-shadow-color;
                    text-shadow: 0 -1px 0 #44947D;
                    border: 1px solid #5BC5A7;

                    &:hover {
                        box-shadow: 0 $side-height 0 0 #676767, 
                                    0 $side-height 6px 2px $under-shadow-color,
                                    inset 0 0 1em 0 rgba(255, 255, 255, 0.7);

                    }

                    &:active {
                        box-shadow: 0 $side-height - $press-displacement 0 0 #676767, 
                                    0 $side-height - $press-displacement 6px 0px $under-shadow-color,
                                    inset 0 0 10px 0 #FFF;
                        margin-top: $margin-top + $press-displacement;

                    }
                }

            }

        }

        #main-image-container {
            display: inline-block;
            vertical-align: middle;
            /*-moz-transform: scale(0.6, 0.6); */
            
            #main-image {
                /*width: 60%;*/
                /*matrix(1, 1, 1, 1, 0, 0); for some reason this doesn't work ...*/
            }

        }

    }

}










































/*
#matchbox-container {
    background-color: #FFF;
    border-radius: 1em;
    position: absolute;
    top: 0;
    left: 100%;
    visibility: hidden;
    z-index: 2;
    -webkit-transform: translate3d(0px, 0px, 0px);
    box-shadow: 0.2em 0.2em 0.5em 0.2em rgba(0, 0, 0, 0.4);
    width: 16em;
    height: 35px;
    
    #matchbox-nub {
        background-color: #FFF;
        box-shadow: -0.3em -0.25em 0.6em 0 rgba(0, 0, 0, 0.2);
        position: absolute;
        -webkit-transform: matrix(0.3535533905932738, -0.3535533905932738, 0.3535533905932738, 0.3535533905932738, -13.3, 0);
        -moz-transform: matrix(0.3535533905932738, -0.3535533905932738, 0.3535533905932738, 0.3535533905932738, -13.3, 0);
        -ms-transform: matrix(0.3535533905932738, -0.3535533905932738, 0.3535533905932738, 0.3535533905932738, -13.3, 0);
        z-index: -1;
        width: 35px;    
        height: 35px;   
    }

    #matchbox {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 0.4em;
        z-index: 2;
        height: 23px; 
        .input {
            height: 21px;   
            width: 12em;
            display: inline-block;
            font-size: 0.8em;
            border: 1px solid #ccc;
            padding: 0 0.5em;
        }
        .submit {
            background-color: #08C; 
            display: inline-block;
            cursor: pointer;
            border-radius: 1em;
            color: #FFF;
            padding: 0.3em 0.8em;
            font-size: 0.8em;

            &:hover {
                background-color: #006FAA;
                color: #eee;
            }

            &:active {
                background-color: $bootstrap-blue-hover;
                color: #ccc;
            }
        }
    }
}
*/
