// Place all the styles related to the oauth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$side-menu-width: 12em;
$side-menu-margin-right: 1em;
$main-chart-width: 40em;

$standard-border-radius: 0.4em;


body {
    font-family: "Lato", "Lucida Grande", "Verdana", "Helvetica";
}

#main-container {
    margin: 0 auto;
    width: intrinsic;
    width: -moz-fit-content;

    #side-menu-container {
        float: left;
        width: $side-menu-width;
    }

    #content-container {
        margin-left: $side-menu-width + $side-menu-margin-right;
    }

}

#top-menu {
    font-size: 1em;
    border-bottom: 1px solid #ddd;
    list-style: none;
    white-space: nowrap;

    .top-menu-item {
        display: inline-block;
        margin-left: 0.2em;
        margin-bottom: -1px;
        border-top-left-radius: $standard-border-radius;
        border-top-right-radius: $standard-border-radius;
        a {
            padding: 1em 1em;
            color: #0088CC;
            text-decoration: none;
            display: block;
        }
    }

    .top-menu-item:not(.active) {
        &:hover {
            background: #EEEEEE;
            a {
                color: #005580;
            }
        }    
    }

    .top-menu-item.active {
        border-color: #ddd;
        border-style: solid;
        border-width: 1px;
        border-bottom-color: rgba(255, 255, 255, 1);
        a {
            color: #333333;
            cursor: default;
        }
    }

    .top-menu-item.logout {
        margin-right: 2em;
        float: right;
    }

}

#side-menu {
    list-style: none;
    border-radius: $standard-border-radius;
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;

    .side-menu-item {
        background-color: transparent;
        border-bottom: 1px solid #ddd;

        &:first-child {
            border-top-right-radius: $standard-border-radius;
            border-top-left-radius: $standard-border-radius;
        }

        &:last-child {
            border-bottom-right-radius: $standard-border-radius;
            border-bottom-left-radius: $standard-border-radius;
            border-bottom: none;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.0625);

            a {
                color: #005580;
            }
        }

        &.active {
            background-color: rgba(0, 136, 204, 1);

            a {
                color: #FFF;
            }

        }

        a {
            display: inline-block;
            width: $side-menu-width - 1em;
            padding: 0.5em 0 0.5em 1em;

            background-color: transparent;
            color: #0088CC;
            text-decoration: none;

        }

    }

}

.well {
    background-color: #F5F5F5;
    box-shadow: inset 0 0 10px #CCC;
}

/* These styles pertain to the main chart: */
#main-chart-container {
    padding: 0.4em;   
    border: 1px solid #ccc; 
}

#main-chart-container:first-child {
    border-top-right-radius: $standard-border-radius;
    border-top-left-radius: $standard-border-radius;
}

#main-chart-container:last-child {
    border-bottom-right-radius: $standard-border-radius;
    border-bottom-left-radius: $standard-border-radius;
}

#main-chart {
    width: $main-chart-width - 0.8em;
    height: 30em;
}

/* These style pertain to the scroll chart: */
#scroll-chart-container {
    border-bottom-right-radius: $standard-border-radius;
    border-bottom-left-radius: $standard-border-radius;
    padding: 1.5em 1.5em 1.5em 1.5em;
}

#scroll-chart {
    width: $main-chart-width - 3em;
    height: 4em;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

/* These styles pertain to the film: */
div#film-backdrop {
    position: absolute;
}

div#film {
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    height: 100%;
    left: 0;
    width: 100%;
    border-radius: $standard-border-radius;

    .film-handle.left {
        float: left;
    }
    
    .film-handle.right {
        float: right;
    }
   
    .film-handle {
        width: 0.4em;
        height: 100%;
        background: #666;
        border-radius: $standard-border-radius;

        &:hover {
            cursor: ew-resize;
        }
        
        .film-label-container {
            position: absolute;
            top: 100%;

            .film-label {
                position: relative;
                left: -50%;
                -webkit-visibility: hidden;
                -moz-visibility: hidden;
                font-size: 12px;
            }

        }

    }

}

.side-menu-item.matching {
    position: relative;    
}

#matchbox-container {
    background-color: #FFF;
    border-radius: $standard-border-radius/2;
    position: absolute;
    top: 0;
    left: 100%;
    visibility: hidden;
    z-index: 2;
    -webkit-transform: translate3d(0px, 0px, 0px);
    box-shadow: 0.2em 0.2em 0.5em 0 #666;
    
    #matchbox-nub {
        background-color: #FFF;
        /*box-shadow: 0 0 0.2em;*/
        position: absolute;
        -webkit-transform: matrix(1, -1, 1, 1, 0, 8) translate3d(0px, 0px, 0px);
        -moz-transform: matrix(0.5, -0.5, 0.5, 0.5, 0, 0);
        -ms-transform: matrix(0.5, -0.5, 0.5, 0.5, 0, 0);
        z-index: -1;
        width: 1em; 
        height: 1em;
    }

    #matchbox {
        margin: 0.4em;
        z-index: 2;
        -webkit-transform: translate3d(0px, 0px, 0px);
        input {
            font-family: "Lato", "Lucida Grande", "Verdana", "Helvetica";
            border-radius: $standard-border-radius/2;
            border-width: 1px;
            height: 1.5em;
            width: 12em;    
            padding: 0 0.5em;
        }
    }
}