<ul id='top-menu'>
    <li class='top-menu-item balance'>
        <a href='/user/balance_over_time'>Balance</a>
    </li>
    <li class='top-menu-item expenses'>
        <a href='/user/expenses_over_time'>Expenses</a>
    </li>
    <li class='top-menu-item more'>
        <a href='#'>More</a>
    </li>
    <li class='top-menu-item menu'>
        <a href='#'>Menu</a>
    </li>
    <li class='top-menu-item items'>
        <a href='#'>Items</a>
    </li>
    <li class='top-menu-item logout'>
        <a href='/user/logout'>Logout</a>
    </li>
</ul>
